__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

runserver.err.log
runserver.out.log
site/ITRexHelper/runserver.err.log
site/ITRexHelper/runserver.out.log

report_assets/
report_work.docx

.venv/
venv/
