{% load static %}
<header class="site-header">
    <div class="site-header__inner">
        <a href="{% url 'ticket_list' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="IT REX HELPER" width="48" height="48">
            <div class="logo__text">
                <div class="logo__title">IT REX</div>
                <div class="logo__subtitle">HELPER</div>
            </div>
        </a>
        <a href="{% url 'profile' %}" class="profile-btn" title="Личный кабинет"><img src="{% static 'img/user 1.png' %}" alt="" width="20" height="20"></a>
    </div>
</header>
